@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People Mover</h1>
</div>

<div class="row">
    Search for people: <input type="text" name="txtSearchPeople" id="txtSearchPeople" />
</div>
<div class="row">
    @{ 

        foreach (PeopleManager.Person p in Model.PersonList)
        {
            <div><img src="@p.ProfileImageLink" /></div>
            <div>@p.Name</div>
        }
    }
</div>